* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #f3e3ca;
}

.TopBorder {
  background-color: #648c87;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: auto;
}

.Title {
  font-size: 40px;
  margin-right: 200px;
  margin-left: 20px;
  opacity: 0.42;
  position: absolute;
}

.Container {
  display: flex;
  flex-direction: row;
  background-color: #f3e3ca;
  padding-bottom: 200px;
}

.Productcont {
  padding: 10px;
  display: flex;
  background-color: #476a5d;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-family: arial;
  border-radius: 12px;
  max-width: 900px;
  min-height: 400px;
}

.Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 3px solid white;
  color: black;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.Buybtn:hover {
  opacity: 0.7;
}

.Title {
  position: relative;
  padding: 0px, 300px;
}

.Buybtn {
  background-color: rgb(26, 190, 78);
  margin-left: 400px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  font-size: 20px;
}

.DTail {
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.Name {
  color: rgb(0, 0, 0);
  font-size: 50px;
  align-items: center;
  position: sticky;
}

.Price {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.dis {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0;
  background-color: rgb(219, 206, 184);
  min-height: 300px;
}

.fa-solid {
  font-size: 6.090133982947624vh;
  color: #000000;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.totalCost {
  text-align: center;
}

.GPoint,
.Username {
  font-size: 30px;
  margin-left: 40px;
}

.GPoint {
  margin-left: 280px;
}
